body{
    margin: 0;
    background-color: rgb(209, 209, 209);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 50px;
    background-color: rgb(231, 229, 229);

}


header ul{
    display: inline-flex;
    list-style: none;
    align-self: center;
}
header ul li a{
    margin-right: 4rem;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: white;
    font-family: "Sora", sans-serif;
}
header ul li a:hover{
    color: rgb(148, 0, 0);
    font-size: 25px;
}

.main-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.main-header img{
    width: 220px;
    height: 150px;
}

.burgerButton svg{
    width: 100px;
    height: 100px;
    display: none;
}

.mobileMenu{
    position: fixed;
    top: 6%;
    left: 100%;
    width: 30%;
    background-color: rgb(231, 229, 229);
    transition: 0.4s;
}

.mobileMenu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.mobileMenu ul li{
    padding: 17px 20px;
}
.mobileMenu ul li a{
    text-decoration: none;
    color: black;
    font-size: 25px;

}
.mobileMenuToggle{
    left: 70%;
}

.wrapper{
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: auto;
    flex-wrap: wrap;
    gap: 1rem;
}

.card{
    height: 360px;
    width: 23%;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin-bottom: 25px;
    justify-content: space-between;
}

.imgwrapper{
    height: 65%;
    width: 100%;
}

.imgwrapper img{
    width: 100%;
    height: 100%;
}

.titlePriceWrapper{
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 5px 10px;
}

.titlePriceWrapper h2{
    font-family: "Sora", sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: rgb(0, 0, 0);
    margin-bottom: 5px;
}
.titlePriceWrapper h4{
    font-size: 20px;
    margin-top: 5px;
    color: rgb(43, 43, 43);
    font-family: "Sora", sans-serif;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 30px;
    margin-top: 50px;
}


@media screen and (max-width: 1200px) {
    .card{
        width: 30%;
    }
}
@media screen and (max-width: 1300px) {
    .card{
        width: 23%;
    }
}

@media screen and (max-width: 1200px) {
    .card{
        width: 45%;
    }
}

@media screen and (max-width: 720px) {
    header{
        position: fixed;
        width: 100%;
        height: 50px;
        padding: 5px;
    }
    .main-header img{
        height: 60px;
        width: 80px;
    }

    .burgerButton svg{
      display: flex; 
        height: 50px;
    }
    header nav{
        display: none;
    }

    .card{
        width: 90%;
        height: 600px;
    }
    .titlePriceWrapper{
        gap: 1rem;
        padding: 15px 10px;
    }
    
    .titlePriceWrapper h2{
        font-size: 30px;
    }
    .titlePriceWrapper h4{
        font-size: 22px;
    }
}