body{
    margin: 0;
    background-color: rgb(209, 209, 209);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 50px;
    background-color: rgb(231, 229, 229);
    box-shadow: -1px 5px 9px 0px rgba(18,18,18,0.61);
-webkit-box-shadow: -1px 5px 9px 0px rgba(18,18,18,0.61);
-moz-box-shadow: -1px 5px 9px 0px rgba(18,18,18,0.61);
}


header ul{
    display: inline-flex;
    list-style: none;
    align-self: center;
}
header ul li a{
    margin-right: 4rem;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: white;
    font-family: "Sora", sans-serif;
}
header ul li a:hover{
    color: rgb(148, 0, 0);
    font-size: 25px;
}

.main-header{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mainHeader img{
    width: 220px;
    height: 150px;
}

.burgerButton svg{
    width: 100px;
    height: 100px;
    display: none;
}

.mobileMenu{
    position: fixed;
    top: 6%;
    left: 100%;
    width: 30%;
    background-color: rgb(231, 229, 229);
    transition: 0.4s;
}

.mobileMenu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.mobileMenu ul li{
    padding: 17px 20px;
}
.mobileMenu ul li a{
    text-decoration: none;
    color: black;
    font-size: 25px;

}
.mobileMenuToggle{
    left: 70%;
}


.wrapper{
    display: flex;
    flex-direction: column;
    width: 74%;
    margin: auto;
    gap: 2rem;
}

.card{
    display: flex;
    flex-direction: row;
    margin-bottom: 4rem;
    gap: 20px;
}


.imgWrapper{
    position: relative;
    width: 50%;
}

.deleteButton{
    position: absolute;
    top: 78%;
    left: 70%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #313131;
  opacity: 0.5;
  color: white;
  font-size: 16px;
  padding: 15px 27px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.deleteButton:hover{
    background-color: #a50f0f;
    opacity: 0.8;
    padding: 13px 25px;
}

.successfullyRemovedCard{
    color: white;
    border: inset 5px rgb(58, 58, 58);
    background: #a12020;
    padding-top: 150px;
    width: 100%;
    height: 300px;
    text-align: center;
    font-family: "Sora", sans-serif;
    font-size: 50px;
    font-weight: 600;
}

.card img{
    width: 100%;
    height: 500px;
    border-radius: 15px;
}

.productDetails{
    display: flex;
    flex-direction: column;
    padding: 10px;
    width: 50%;
    border: solid 2px rgb(173, 173, 173);
    border-radius: 5px;
    background-color: rgb(226, 226, 226);
}

.titlePriceLocationWrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: solid 2px rgb(177, 177, 177);
    border-radius: 2px;
    gap: 1rem;
}
.titleLocationWrapper h2{
    color: rgb(43, 43, 43);
    text-shadow: 4px 0px 0px rgba(170, 170, 170, 0.76);
    font-size: 23px;
    font-family: "Sora", sans-serif;
}
.titleLocationWrapper h5{
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-family: "Sora", sans-serif;
}

.priceWrapper{
    display: flex;
    flex-direction: row;
}
.priceWrapper h4{
    color: rgb(129, 0, 0);
    margin-right: 2rem;
    font-size: 18px;
    font-family: "Sora", sans-serif;
}

.discriptionWrapper p{
    color: rgb(29, 29, 29);
    font-size: 17px;
    font-family: "Sora", sans-serif;
    position: relative;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 30px;
    margin-top: 50px;
}

@media screen and (max-width: 1350px) {
    .titleLocationWrapper h2{
        font-size: 20px;
    }
    .titleLocationWrapper h5{
        font-size: 16px;
    }
    .priceWrapper h4{
        font-size: 18px;
    }
    .discriptionWrapper p{
        font-size: 14px;
    }
    .deleteButton{
        left: 72%;
    }
}
@media screen and (max-width: 1000px) {
    .wrapper{
        margin-bottom: 50px;
    }
    .card{
        flex-direction: column;
    }
    .imgWrapper{
        width: 100%;
    }
    .card img{
        width: 100%;
        height: 450px;
        border-radius: 15px;
    }
    
    .productDetails{
        display: flex;
        flex-direction: column;
        padding: 10px;
        width: 100%;
    }
    .deleteButton{
        top: 115%;
        left: 50%;
        opacity: 0.8;
        background-color: rgb(167, 0, 0);
    }
    .deleteButton:hover{
        background-color: rgb(219, 0, 0);
        opacity: 0.9;
    }
}

@media screen and (max-width: 720px) {
    header{
        position: fixed;
        width: 100%;
        height: 50px;
        padding: 5px;
    }
    .mainHeader img{
        height: 60px;
        width: 80px;
    }

    .burgerButton svg{
      display: flex; 
        height: 50px;
    }
    header nav{
        display: none;
    }

    .card img{
        height: 400px;
    }
    .titleLocationWrapper h2{
        font-size: 26px;

    }
    .titleLocationWrapper h5{
        font-size: 14px;
    }
    
    .priceWrapper h4{
        font-size: 16px;
    }
    
    .discriptionWrapper p{
        font-size: 14px;
    }
    .deleteButton{

       top: 82%;
    }
}
@media screen and (max-width: 600px) {
    header{
        margin-bottom: 2rem;
    }
    .card img{
        height: 400px;
        width: 100%;
    }
    .titleLocationWrapper h2{
        font-size: 23px;

    }
    .titleLocationWrapper h5{
        font-size: 16px;
    }
    
    .priceWrapper h4{
        font-size: 16px;
    }
    
    .discriptionWrapper p{
        font-size: 13px;
    }
    .deleteButton{
        top: 84%;
        left: 50%;
    }
}