body{
    margin: 0;
    background-color: rgb(209, 209, 209);
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 50px;
    background-color: rgb(231, 229, 229);
    box-shadow: -1px 5px 9px 0px rgba(18,18,18,0.61);
-webkit-box-shadow: -1px 5px 9px 0px rgba(18,18,18,0.61);
-moz-box-shadow: -1px 5px 9px 0px rgba(18,18,18,0.61);
}


header ul{
    display: inline-flex;
    list-style: none;
    align-self: center;
}
header ul li a{
    margin-right: 4rem;
    text-decoration: none;
    font-size: 22px;
    font-weight: 600;
    color: white;
    font-family: "Sora", sans-serif;
}
header ul li a:hover{
    color: rgb(148, 0, 0);
    font-size: 25px;
}

.mainHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.mainHeader img{
    width: 220px;
    height: 150px;
}

.burgerButton svg{
    width: 100px;
    height: 100px;
    display: none;
}

.mobileMenu{
    position: fixed;
    top: 6%;
    left: 100%;
    width: 30%;
    background-color: rgb(231, 229, 229);
    transition: 0.4s;
}

.mobileMenu ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.mobileMenu ul li{
    padding: 17px 20px;
}
.mobileMenu ul li a{
    text-decoration: none;
    color: black;
    font-size: 25px;

}
.mobileMenuToggle{
    left: 70%;
}

.form{
    display: flex;
    flex-direction: column;
    width: 70%;
    margin: auto;
    gap: 2rem;
    padding: 1rem;
    border-radius: 15px;
}

.form input{
    padding: 10px 7px;
    border-radius: 5px;
    background-color: rgb(206, 206, 206);
    color: rgb(0, 0, 0);
}
.form textarea{
    border-radius: 5px;
    padding: 5px;
    border: solid 2px;
    background-color: rgb(206, 206, 206);
    color: black;
}
.form button{
    width: 20%;
    margin: auto;
    padding: 10px 15px;
    border-radius: 10px;
    border: 0;
    color: rgb(252, 255, 90);
    background-color: rgb(95, 95, 95);
}
.form button:hover{
    color: rgb(126, 0, 0);
    background-color: rgb(246, 255, 195);
    cursor: pointer;
}

footer{
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 30px;
    margin-top: 50px;
}

.validationMessage{
    display: flex;
    flex-direction: column;
    text-align: center;
}
.succesMessage{
    color: rgb(53, 255, 53);
    font-size: 20px;
}
.errorMessage{
    color: rgb(255, 41, 41);
    font-size: 20px;
}

@media screen and (max-width: 720px) {
    header{
        position: fixed;
        width: 100%;
        height: 50px;
        padding: 5px;
    }
    .mainHeader img{
        height: 60px;
        width: 80px;
    }

    .burgerButton svg{
      display: flex; 
        height: 50px;
    }
    header nav{
        display: none;
    }
    footer{
        margin-top: 35%;

    }
}